@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body , html {
    background-color: #E1DFFF;
    width: 100%;
    height: 100%;
    position: fixed;
}

*{
    margin: 0;
}

#title{
    width: 300px;
    height: 58px;
    margin-left: 30%;
    margin-top: 12.3%;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    color: #08006C;
}

#intro{
    width: 199px;
    height: 22px;
    margin-left: 36.1%;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

#put{
    width: 571px;
    height: 255px;
    margin-left: 15.3%;
    margin-top: 5%;
    padding: 1%;
    padding-top: 0.5%;
    padding-left: 2%;

    background: #5A5B84;
    border-radius: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;

    color: #000000;
   
}

.header{
    width: 556.5px;
    height: 37.5px;
    margin-top: 1%;

    background: #E1DFFF;
    border-radius: 30px;
}

.left{
    margin-left: 3%;
    width: 25%;
    display: inline-block;
    text-align: center;
}

.right{
    width: 25%;
    display: inline-block;
    text-align: center;
}

.center{
    width: 40%;
    display: inline-block;
    text-align: center;
}

#start_btn{
    border-radius: 30px;
    background-color: #5A5B84;
    font-family: 'Inter' , sans-serif;
    color: #FFFFFF;
    
    width: 179px;
    height: 50px;
    margin-left: 38.6%;
    margin-top: 2%;
    border: 0;

    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

::-webkit-scrollbar {
    width: 1px;
  }
  
#front{
    height: 85%;
    overflow: auto;
    overflow-x: hidden;
}

#back{
    height: 20%;
    margin-top : 1%;
}